# This file defines required reviewers for all PRs
# Last updated: March 2026

# Default reviewer(s) for everything
# For T1 2026 the list is primarily du-dhartley and more will be added. Any repository or organisation admins can also review and merge, even if not explicitly listed.
# Additional contributors can be easily added here.
*    @du-dhartley @6igby @liyunze-coding

# You can add more specific rules later, e.g.:
# /docs/    @docs-reviewer